.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex-col {
  gap: var(--gap, 1rem);
  flex-direction: column;
}

.container {
  padding-inline: 2rem;
  max-width: 1280px;
  margin-inline: auto;
}
.container-grid {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
}
.container-grid p {
  max-width: 444px;
}
.container-grid--destination {
  padding-bottom: 58px;
  row-gap: 24px;
  grid-template-areas: "title" "image" "tabs" "description";
}
.container-grid--destination > img {
  grid-area: image;
  max-width: 60%;
}
.container-grid--destination .tab-list {
  grid-area: tabs;
}
.container-grid--destination .description {
  grid-area: description;
}
.container-grid--destination .description__meta {
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.062745098);
}
.container-grid--destination .description__meta h3 {
  margin-bottom: 12px;
}
.container-grid--destination .description__meta p {
  font-size: 28px;
}
.container-grid--crew {
  padding-bottom: 100px;
  row-gap: 32px;
  grid-template-areas: "title" "image" "tabs" "description";
}
.container-grid--crew > img {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.062745098);
}
.container-grid--crew .dots {
  grid-area: tabs;
}
.container-grid--crew .crew__info {
  grid-area: description;
}
.container-grid--crew .crew__info h2 {
  margin-bottom: 8px;
}
.container-grid--crew .crew__info > p:last-child {
  margin-top: 16px !important;
}

@media (min-width: 768px) {
  .container-grid {
    text-align: left;
    gap: var(--grid-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
  }
  .container-grid--home > *:first-child {
    grid-column: 2;
  }
  .container-grid--home > *:last-child {
    grid-column: 3;
  }
  .container-grid--home {
    align-items: flex-end;
    padding-bottom: max(130px, 20vh);
  }
  .container-grid--destination {
    justify-items: start;
    align-items: flex-start;
    grid-template-areas: ". title title ." ". image tabs ." ". image description .";
  }
  .container-grid--destination .description h2 {
    padding-bottom: 14px;
  }
  .container-grid--destination .description__meta {
    justify-content: flex-start;
  }
}
.none {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tab-list > * {
  background: none;
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-light {
  background-color: var(--clr-light);
}

.bg-white {
  background-color: var(--clr-white);
}

.text-white {
  color: var(--clr-white);
}

.text-dark {
  color: var(--clr-dark);
}

.text-light {
  color: var(--clr-light);
}

.ff-belle {
  font-family: var(--ff-belle);
}

.ff-barlow-cond {
  font-family: var(--ff-barlow-cond);
}

.ff-barlow-norm {
  font-family: var(--ff-barlow-norm);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.75px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fs-h1 {
  font-size: var(--fs-h1);
}

.fs-h2 {
  font-size: var(--fs-h2);
}

.fs-h3 {
  font-size: var(--fs-h3);
}

.fs-h4 {
  font-size: var(--fs-h4);
}

.fs-h5 {
  font-size: var(--fs-h5);
}

.fs-text {
  font-size: var(--fs-text);
}
.fs-text--big {
  font-size: var(--fs-text-big);
}
.fs-text--small {
  font-size: var(--fs-text-small);
}

.numbered-title {
  grid-area: title;
  font-family: var(--ff-barlow-cond);
  font-size: var(--fs-h5);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}
.numbered-title span {
  font-weight: 700;
  margin-right: 28px;
  color: rgba(255, 255, 255, 0.1450980392);
}

button {
  border-radius: 50%;
}
button .button--large {
  font-size: 32px;
  position: relative;
  display: inline-grid;
  padding: 0 2em;
  aspect-ratio: 1/1;
  place-items: center;
  border-radius: 50%;
}
button .button--large:hover::after, button .button--large:focus::after {
  transform: scale(1.4);
  opacity: 1;
}
button .button--large::after {
  content: "";
  position: absolute;
  background: #979797;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transition: var(--transition);
}

.navigation-primary {
  display: none;
  gap: 5rem;
  background: rgba(255, 255, 255, 0.0156862745);
  -webkit-backdrop-filter: blur(81px);
          backdrop-filter: blur(81px);
}
.navigation-primary a span {
  font-weight: bold;
  margin-right: 8px;
}

.underline {
  align-items: flex-start;
}
.underline > * {
  cursor: pointer;
  padding: var(--underline-gap, 16px) 0;
  position: relative;
}
.underline > *::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.1450980392);
  transition: var(--transition);
}
.underline > *:hover::after, .underline > *:focus::after {
  width: 100%;
}
.underline > *.active, .underline > *[aria-selected=true] {
  border-bottom: 3px solid var(--clr-white);
  border-radius: 0;
  color: var(--clr-white);
}
.underline > *.active::after, .underline > *[aria-selected=true]::after {
  content: none;
}

.dots > * {
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1450980392);
  width: 15px;
  transition: var(--transition);
}
.dots > *:hover {
  background-color: rgba(255, 255, 255, 0.3137254902);
}
.dots > *[aria-selected=true] {
  background-color: var(--clr-white);
}/*# sourceMappingURL=utility.css.map */